build/

#PLEASE DO NOT rely on the following filters
#they may be changed or removed in following updates
#PLEASE USE "build/" directory to store anything
#you do not want to push (e.g. ide workspace, temporary builds)